@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: $background;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.main {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.title {
  font-size: 55px;
  margin-bottom: 68px;
}

.increaseButton {
  font-size: 18px;
  margin-bottom: 36px;
  padding: 13px 48px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  background-color: #ffffff;
  &:hover {
    background-color:#EEE;
  }
}

.decreaseButton {
  font-size: 14px;
  background-color: #ff000000; 
  border: none;
  color: #F5E5E7;
  &:hover {
    color: #E4D4D6;
  }
}

.glass {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 280px;
  background-image: url(../assets/img/water-glass.svg);
  background-size: contain;
  margin-bottom: 48px;
}

.number {
  font-size: 112px;
  color: black;
  margin-top: 114px;
  line-height: 0.9em;
}
